<div class="profile-container">
  <div class="profile-field">
    <label class="label">Name:</label>
    <div class="profile-value">{{ user.name }}</div>
  </div>
  <div class="profile-field">
    <label class="label">Email:</label>
    <div class="profile-value">{{ user.email }}</div>
  </div>
  <div class="profile-field">
    <label class="label">Phone:</label>
    <div class="profile-value">{{ user.phone }}</div>
  </div>
  <button class="edit-profile-btn" routerLink="/profile/edit">Edit Profile</button>
</div>
